<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Tracker ALS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        :root {
            --primary: #388e3c; /* Verde deportivo para botones principales */
        }
    </style>
</head>
<body>
    <nav class="container" style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid var(--muted-border-color); margin-bottom: 20px;">
        <ul>
            <li><a href="{{ url_for('auth.dashboard') }}" class="contrast" style="text-decoration: none;"><strong>🏋️‍♂️ Gym Tracker ALS</strong></a></li>
        </ul>
        <ul>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.buscar_usuarios') }}" >🔍 Buscar</a></li>
                
                <li>
                    <a href="{{ url_for('auth.gestionar_solicitudes') }}" >
                        ✉️ Solicitudes
                        {% if current_user.solicitudes_pendientes and current_user.solicitudes_pendientes|length > 0 %}
                            <mark style="background:#d81b60; color:white; padding:2px 6px; border-radius:50%; font-size: 0.8rem;">
                                {{ current_user.solicitudes_pendientes|length }}
                            </mark>
                        {% endif %}
                    </a>
                </li>
                
                <li><a href="{{ url_for('registros.feed') }}">🌎 Social</a></li>
                <li><a href="{{ url_for('rutinas.index') }}">📋 Rutinas</a></li>
                <li><a href="{{ url_for('registros.index') }}">🕒 Historial</a></li>
                <li><a href="{{ url_for('auth.logout') }}" style="color: #d81b60;">Salir</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">Iniciar Sesión</a></li>
                <li><a href="{{ url_for('auth.register') }}" role="button">Registrarse</a></li>
            {% endif %}
        </ul>
    </nav>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% set bg_color = "#f7a0a0" if category == "error" else "#d4edda" %}
              {% set text_color = "#5a0000" if category == "error" else "#155724" %}
              
              <article style="background-color: {{ bg_color }}; color: {{ text_color }}; padding: 12px; margin-bottom: 20px; border-radius: 5px; border: none;">
                {{ message }}
              </article>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer class="container" style="text-align: center; margin-top: 3rem; padding-top: 1rem; border-top: 1px solid var(--muted-border-color);">
        <p><small>Proyecto ALS</small></p>
    </footer>
</body>
</html>