{% extends "base.html" %}

{% block content %}
<article class="grid">
    <div>
        <hgroup>
            <h1>Registro en el Sistema</h1>
            <h2>Tracker de Gimnasio - Proyecto ALS</h2>
        </hgroup>
        <form action="{{ url_for('auth.register') }}" method="POST">
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Registrarse</button>
        </form>
        <p>¿Ya tienes cuenta? <a href="{{ url_for('auth.login') }}">Inicia sesión aquí</a>.</p>
    </div>
</article>
{% endblock %}