{% extends "base.html" %}
{% block content %}
<hgroup>
    <h2>Mis Rutinas</h2>
    <p>Gestiona tus planes de entrenamiento personales.</p>
</hgroup>

<div style="margin-bottom: 1rem;">
    <a href="{{ url_for('rutinas.nueva') }}" role="button" style="width: 100%;">➕ Crear Nueva Rutina</a>
</div>

<div class="grid" style="margin-bottom: 2rem;">
    <a href="{{ url_for('ejercicios.index') }}" role="button" class="secondary outline" style="margin-bottom: 0;">📋 Catálogo General</a>
    <a href="{{ url_for('ejercicios.personalizados') }}" role="button" class="secondary outline" style="margin-bottom: 0;">🛠️ Ejercicios Personalizados</a>
</div>

<div class="grid">
    {% for rutina in rutinas %}
    <article>
        <header><strong>{{ rutina.nombre }}</strong></header>
        <p><small>{{ rutina.lista_ejercicios_oids|length }} ejercicios configurados</small></p>
            <footer class="grid" style="grid-template-columns: repeat(3, 1fr); gap: 1rem;">
                <a href="{{ url_for('rutinas.entrenar', oid_rutina=rutina.__oid__) }}" 
                    role="button" style="background-color: #388e3c; border:none; width: 100%; margin-bottom: 0;">▶️ Entrenar</a>
    
                <a href="{{ url_for('rutinas.editar', oid_rutina=rutina.__oid__) }}" 
                     role="button" class="outline" style="width: 100%; margin-bottom: 0;">✏️ Editar</a>
    
                <form action="{{ url_for('rutinas.borrar', oid_rutina=rutina.__oid__) }}" 
                      method="POST" style="margin:0; width: 100%;">
                  <button type="submit" class="secondary outline" 
                        style="width: 100%; margin-bottom: 0;" 
                        onclick="return confirm('¿Borrar?');">Borrar</button>
                </form>
            </footer>
    </article>
    {% else %}
    <article>
        <p>No tienes rutinas creadas. ¡Pulsa el botón de arriba para empezar!</p>
    </article>
    {% endfor %}
</div>
{% endblock %}